<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ path('dutaf_index') }}">DUTAF</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="{{ path('dutaf_article_view') }}">Catalogue</a>
                </li>
                {% if is_granted('ROLE_ADMIN') == true %}
                <li class="page-scroll">
                    <a href="{{ path('admin_article_view') }}">Gestion articles</a>
                </li>
                <li class="page-scroll">
                    <a href="{{ path('admin_fournisseur_view') }}">Gestion fournisseurs</a>
                </li>
                <li class="page-scroll">
                    <a href="{{ path('logout') }}">Déconnexion</a>
                </li>
                {% else %}
                    <li class="page-scroll">
                        <a href="{{ path('login') }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>