<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Thibaud CORDINA">
    <meta name="description" content="">

    <title>{% block title %}Dutaf{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<style>
    td,th{
        border: 1px solid #000;
        text-align: center;
    }
    .container-toppage{
        margin-top: 75px;
    }
</style>
<body>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ path('dutaf_index') }}">DUTAF</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="{{ path('dutaf_article_view') }}">Catalogue</a>
                </li>
                {% if is_granted('ROLE_ADMIN') == true %}
                    <li class="page-scroll">
                        <a href="{{ path('admin_article_view') }}">Gestion articles</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ path('admin_fournisseur_view') }}">Gestion fournisseurs</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ path('logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="page-scroll">
                        <a href="{{ path('login') }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
</html>