{% extends 'DutafBundle::template.html.twig' %}

{% block title %}
    Fournisseurs - {{ parent() }}
{% endblock %}

{% block body %}
    <div align="center">
        <table style="width: 75%; text-align: center;">
            <tr>
                <th width="5%">#</th>
                <th width="">Nom</th>
                <th width="">Tel</th>
                <th width="">Ville</th>
            </tr>
            {% for fournisseur in fournisseurs %}
                <tr>
                    <td>{{ fournisseur.id }}</td>
                    <td>{{ fournisseur.nom }}</td>
                    <td>{{ fournisseur.tel }}</td>
                    <td>{{ fournisseur.ville }}</td>
                </tr>
            {% else %}
                Pas encore de fournisseurs !
            {% endfor %}
        </table>
    </div>
{% endblock %}