{% extends 'DutafBundle::template.html.twig' %}

{% block title %}
    Admin - {{ parent() }}
{% endblock %}

{% block body %}
{#<div class="container">#}
    <div align="center">
        <a style="width:100px;" class="btn btn-primary" href="{{ path('admin_article_add') }}">
            <i style="font-size: 200%" class="glyphicon glyphicon-plus-sign"></i>
        </a>
        <br/><br/>
        <table style="width: 75%; text-align: center;">
            <tr>
                <th width="5%">#</th>
                <th width="">Référence</th>
                <th width="">Nom</th>
                <th width="">Prix</th>
                <th width="">Quantité</th>
                <th width="">Fournisseur</th>
                <th width="">Editer</th>
                <th width="">Supprimer</th>
            </tr>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.ref }}</td>
                    <td>{{ article.nom }}</td>
                    <td>{{ article.prix }}</td>
                    <td>{{ article.quant }}</td>
                    <td>{{ article.fournisseur.nom }}</td>
                    <td>
                        <a href="{{ path('admin_article_edit', {'id': article.id}) }}">
                            <i style="font-size:150%;" class="glyphicon glyphicon-cog"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_article_delete', {'id': article.id}) }}">
                            <i style="font-size:150%;" class="glyphicon glyphicon-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                Pas encore d'articles !
            {% endfor %}
        </table>
    {#</div>#}
</div>
{% endblock %}