{% extends 'DutafBundle::template.html.twig' %}

{% block title %}
    Fournisseurs - {{ parent() }}
{% endblock %}

{% block body %}
    <div align="center">
        <a style="width:100px;" class="btn btn-primary" href="{{ path('admin_fournisseur_add') }}">
            <i style="font-size: 200%" class="glyphicon glyphicon-plus-sign"></i>
        </a>
        <br/><br/>
        <table style="width: 75%; text-align: center;">
            <tr>
                <th width="5%">#</th>
                <th width="">Nom</th>
                <th width="">Tel</th>
                <th width="">Ville</th>
                <th width="">Editer</th>
                <th width="">Supprimer</th>
            </tr>
            {% for fournisseur in fournisseurs %}
                <tr>
                    <td>{{ fournisseur.id }}</td>
                    <td>{{ fournisseur.nom }}</td>
                    <td>{{ fournisseur.tel }}</td>
                    <td>{{ fournisseur.ville }}</td>
                    <td>
                        <a href="{{ path('admin_fournisseur_edit', {'id': fournisseur.id}) }}">
                            <i style="font-size:150%" class="glyphicon glyphicon-cog"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_fournisseur_delete', {'id': fournisseur.id}) }}">
                            <i style="font-size:150%;" class="glyphicon glyphicon-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                Pas encore de fournisseurs !
            {% endfor %}
        </table>
    </div>
{% endblock %}