{% extends 'DutafBundle::template.html.twig' %}

{% block title %}
    Catalogue - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-toppage">
    <div align="center">
        <table style="width: 75%; text-align: center;">
            <tr>
                <th width="5%">#</th>
                <th width="">Référence</th>
                <th width="">Nom</th>
                <th width="">Prix</th>
                <th width="">Quantité</th>
                <th width="">Fournisseur</th>
            </tr>
            {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.ref }}</td>
                <td>{{ article.nom }}</td>
                <td>{{ article.prix }}</td>
                <td>{{ article.quant }}</td>
                <td>{{ article.fournisseur.nom }}</td>
            </tr>
            {% else %}
                Pas encore d'articles !
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}